@font-face {
  font-family: intro-landing;
  src: url('../fonts/IntroRegular.woff') format('woff');
}

@font-face {
  font-family: raleway-landing;
  src: url('../fonts/RalewayRegular.woff') format('woff');
}

@font-face {
  font-family: raleway-landing;
  src: url('../fonts/RalewayBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: raleway-landing;
  src: url('../fonts/RalewayExtraBold.woff') format('woff');
  font-weight: 800;
}
